# Exploratory Data Analysis

In [1]:
# Import requirements
import warnings

import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Set defaults
%matplotlib inline
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

In [3]:
# Load data
movies = pd.read_csv("archive/Movie_Movies.csv", low_memory=False)
genres = pd.read_csv("archive/Movie_Genres.csv", low_memory=False)
ratings = pd.read_csv("archive/Movie_AdditionalRating.csv", low_memory=False)

In [4]:
# Overview
movies.head()

,Awards,Country,DVD,Director,Language,Plot,Poster,Production,Rated,Released,Runtime,Title,Type,Website,Year,imdbID,imdbRating,imdbVotes
0,NaN,USA,NaN,Rose Cummings,English,Rachel constantly hears her baby cry from the ...,NaN,NaN,NaN,26 Apr 2012,20 min,Baby's Breath,movie,NaN,2012,tt2268369,NaN,NaN
1,NaN,USA,NaN,James Byrne,NaN,The struggle against unfortunate circumstances...,NaN,NaN,NaN,NaN,9 min,Winter Trees,movie,NaN,2008,tt1560760,NaN,NaN
2,NaN,USA,NaN,Dimitri Buchowetzki,NaN,NaN,NaN,NaN,NaN,27 Mar 1926,50 min,The Crown of Lies,movie,NaN,1926,tt0016750,NaN,NaN
3,NaN,USA,NaN,Julia Hechler,English,"A Gift introduces Samuel Green, Washington Sta...",NaN,NaN,NaN,27 May 2013,2 min,A Gift,movie,NaN,2013,tt3405286,NaN,NaN
4,NaN,Sri Lanka,NaN,Udara Siriruwan,Sinhalese,NaN,NaN,NaN,NaN,20 Mar 2014,23 min,Journey,movie,NaN,2014,tt3816698,NaN,NaN

In [5]:
# General info
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178687 entries, 0 to 178686
Data columns (total 18 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Awards      20340 non-null   object
 1   Country     165998 non-null  object
 2   DVD         15949 non-null   object
 3   Director    151353 non-null  object
 4   Language    153196 non-null  object
 5   Plot        97476 non-null   object
 6   Poster      48414 non-null   object
 7   Production  16446 non-null   object
 8   Rated       23906 non-null   object
 9   Released    116974 non-null  object
 10  Runtime     119497 non-null  object
 11  Title       178686 non-null  object
 12  Type        178686 non-null  object
 13  Website     6747 non-null    object
 14  Year        178686 non-null  object
 15  imdbID      178686 non-null  object
 16  imdbRating  62073 non-null   float64
 17  imdbVotes   62029 non-null   object
dtypes: float64(1), object(17)
memory usage: 24.5+ MB

In [6]:
# Description on some columns
movies.describe(include='all')

,Awards,Country,DVD,Director,Language,Plot,Poster,Production,Rated,Released,Runtime,Title,Type,Website,Year,imdbID,imdbRating,imdbVotes
count,20340,165998,15949,151353,153196,97476,48414,16446,23906,116974,119497,178686,178686,6747,178686,178686,62073.000000,62029
unique,1946,3799,2586,92410,2519,97166,48209,4815,80,25146,535,158218,2,6240,265,178686,NaN,8538
top,1 nomination.,USA,29 Mar 2005,Jim Powers,English,Scenes of the coronation ceremonies of King Ed...,http://ia.media-imdb.com/images/M/MV5BMTI4NDcz...,Paramount Pictures,R,01 May 2015,90 min,Alone,movie,http://www.phase4films.com/,2015,tt1543582,NaN,5
freq,4134,93426,82,151,117809,12,8,414,5115,173,4391,84,178665,26,9543,1,NaN,3143
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.416236,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.360472,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.600000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.300000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN

In [8]:
movies = movies.drop(['Awards','DVD','Plot','Poster','Website'],axis=1)

In [9]:
# Checking for null values
movies.isnull().sum()

Country        12689
Language       25491
Production    162241
Rated         154781
Released       61713
Runtime        59190
Title              1
Type               1
Year               1
imdbID             1
imdbRating    116614
imdbVotes     116658
dtype: int64

In [10]:
# Checking for duplicated values
movies[movies.duplicated(['imdbID'],keep=False)]

Empty DataFrame
Columns: [Country, Language, Production, Rated, Released, Runtime, Title, Type, Year, imdbID, imdbRating, imdbVotes]
Index: []

In [11]:
# Cleaning data
movies.dropna(subset=['imdbID'],inplace=True)

In [12]:
# Get info again
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178686 entries, 0 to 178686
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Country     165998 non-null  object
 1   Language    153196 non-null  object
 2   Production  16446 non-null   object
 3   Rated       23906 non-null   object
 4   Released    116974 non-null  object
 5   Runtime     119497 non-null  object
 6   Title       178686 non-null  object
 7   Type        178686 non-null  object
 8   Year        178686 non-null  object
 9   imdbID      178686 non-null  object
 10  imdbRating  62073 non-null   float64
 11  imdbVotes   62029 non-null   object
dtypes: float64(1), object(11)
memory usage: 17.7+ MB

In [13]:
# Change some types to categories
movies.Language = movies.Language.astype('category')
movies.Rated = movies.Rated.astype('category')
movies.Type = movies.Type.astype('category')

In [16]:
# Convert year to integer
movies['Year'] = pd.to_numeric(movies['Year'], errors='coerce', downcast='integer')
movies['Year'] = movies['Year'].fillna(0)
movies['Year'] = movies['Year'].astype('int32')

In [17]:
# Convert runtime to integer
movies['Runtime'] = movies['Runtime'].astype(str).str.replace(' min','')
movies['Runtime'] = pd.to_numeric(movies['Runtime'], errors='coerce', downcast='integer')
movies['Runtime'] = movies['Runtime'].fillna(0)
movies['Runtime'] = movies['Runtime'].astype('int32')

In [18]:
# Convert votes count to integer
movies['imdbVotes'] = movies['imdbVotes'].astype(str).str.replace(',','')
movies['imdbVotes'] = pd.to_numeric(movies['imdbVotes'],errors='coerce')
movies['imdbVotes'] = movies['imdbVotes'].fillna(0)
movies['imdbVotes'] = movies['imdbVotes'].astype('int32')

In [19]:
# Convert Released to datetime
movies['Released'] = pd.to_datetime(movies['Released'], format='%Y-%m-%d', errors='coerce')

In [20]:
# Get info again
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178686 entries, 0 to 178686
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Country     165998 non-null  object
 1   Language    153196 non-null  category
 2   Production  16446 non-null   object
 3   Rated       23906 non-null   category
 4   Released    0 non-null       datetime64[ns]
 5   Runtime     178686 non-null  int32
 6   Title       178686 non-null  object
 7   Type        178686 non-null  category
 8   Year        178686 non-null  int32
 9   imdbID      178686 non-null  object
 10  imdbRating  62073 non-null   float64
 11  imdbVotes   178686 non-null  int32
dtypes: category(3), datetime64[ns](1), float64(1), int32(3), object(4)
memory usage: 12.4+ MB

In [21]:
# Description on some columns again
movies.describe(include='all')

,Country,Language,Production,Rated,Released,Runtime,Title,Type,Year,imdbID,imdbRating,imdbVotes
count,165998,153196,16446,23906,0,178686.000000,178686,178686,178686.000000,178686,62073.000000,1.786860e+05
unique,3799,2519,4815,80,0,NaN,158218,2,NaN,178686,NaN,NaN
top,USA,English,Paramount Pictures,R,NaN,NaN,Alone,movie,NaN,tt1543582,NaN,NaN
freq,93426,117809,414,5115,NaN,NaN,84,178665,NaN,1,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,36.048571,NaN,NaN,1992.561661,NaN,6.416236,2.674464e+03
std,NaN,NaN,NaN,NaN,NaN,45.515070,NaN,NaN,33.032625,NaN,1.360472,2.877722e+04
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,1.000000,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1989.000000,NaN,5.600000,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,2007.000000,NaN,6.500000,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,75.000000,NaN,NaN,2013.000000,NaN,7.300000,1.300000e+01
max,NaN,NaN,NaN,NaN,NaN,964.000000,NaN,NaN,2023.000000,NaN,10.000000,1.929977e+06

In [22]:
voted_movies = movies[movies['imdbVotes']>10000]
voted_movies.sort_values(by=['imdbRating'], ascending=False).head(100).style.hide_index()

In [23]:
# Ratings info
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92016 entries, 0 to 92015
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    92016 non-null  int64
 1   Rating        92016 non-null  object
 2   RatingSource  92016 non-null  object
 3   imdbID        92016 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.8+ MB

In [24]:
# Drop unnecessary column
ratings.drop('Unnamed: 0', axis=1, inplace=True)

In [25]:
# Join with rating to movies
movies_rating = (ratings
                  .set_index("imdbID")
                  .join(movies.set_index("imdbID"),
                        how="left")
                 )

In [26]:
movies_rating.head()

,Rating,RatingSource,Country,Language,Production,Rated,Released,Runtime,Title,Type,Year,imdbRating,imdbVotes
imdbID,,,,,,,,,,,,,
tt0000012,7.4/10,Internet Movie Database,France,NaN,NaN,NOT RATED,NaT,1,The Arrival of a Train,movie,1896,7.4,7930
tt0000035,5.4/10,Internet Movie Database,France,NaN,NaN,NaN,NaT,0,Watering the Flowers,movie,1896,5.4,33
tt0000054,5.8/10,Internet Movie Database,France,NaN,NaN,NaN,NaT,0,A Merry-Go-Round,movie,1896,5.8,12
tt0000068,4.3/10,Internet Movie Database,France,NaN,NaN,NaN,NaT,0,Unloading the Boat,movie,1896,4.3,12
tt0000079,4.4/10,Internet Movie Database,France,NaN,NaN,NaN,NaT,0,La gare Saint-Lazare,movie,1896,4.4,14

In [27]:
# Genres info
genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308565 entries, 0 to 308564
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  308565 non-null  int64
 1   Genre       308565 non-null  object
 2   imdbID      308565 non-null  object
dtypes: int64(1), object(2)
memory usage: 7.1+ MB

In [ ]:
# Drop unnecessary column
genres.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
# Join with genres to movies
movies_genres = (genres
                  .set_index("imdbID")
                  .join(movies.set_index("imdbID"),
                        how="inner")
                 )

In [ ]:
movies_genres.head()

In [ ]:
movies_genres.hist()

In [ ]:
movies.Runtime.describe()

In [ ]:
movies[['imdbID','Runtime']].sort_values("Runtime", ascending=False, inplace=True).head(10)

In [ ]:
movies.imdbVotes.describe()

In [ ]:
# Sort by rating
movies[movies['imdbVotes']>1000].sort_values("imdbRating", ascending=False, inplace=True)